
.midiv{
    border: 1px solid;
}
.checkboxgrid{
    display: grid;
    justify-content: center;
}
.heading{
    background-color: #E7C68E;
    padding: 1rem 0;
    color: black;
    margin-top: 0;
    text-align: center;
}
.content{
    padding: 1rem 2rem;
}
.select{
    border: 1px solid;
    width: 80%;
}
.innerfirstgrid{
    border-right: 1px solid #E7C68E;
}
.textarea{
    width: 100%;
    background-color: transparent;
    border: 1px solid #E7C68E;
    color: #E7C68E ;
    height: 7rem;
    border-radius: 1%;
    padding: 0.5rem 0 0 0rem;
}
.continuebutton{
    float: right;
    padding: 0.7rem 2.7rem;
    color: black;
    font-weight: bold;
    background-color: #9D7A54;
    border: transparent;
    margin: 1rem 0;
}
.continuebutton:hover{
    cursor: pointer;
    color: white;
}
@media only screen and (max-width: 600px) {
    .innerfirstgrid{
        border-right: 0px;
    }
    .checkboxgrid{
        justify-content: unset;
        padding-top: 1rem;
    }
    .select{
        width: 95%;
    }
}