.logo {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.rightdiv {
    background-color: #E7C68E;
    color: black;
    margin: 0 5rem;
    /* margin-top: -2rem; */
    padding: 0 1rem;
}

.melanated {
    font-weight: 400;
    font-size: 1.6rem;
    margin-top: -17rem;
}

.logintext {
    font-weight: 600;
    font-size: 1.7rem;
    margin-top: -1rem;
    padding-top: 2rem;
}

.textbox {
    border: 1px solid black;
    margin-top: -0.7rem;
}

.signup {
    width: 100%;
    background-color: black;
    color: #E7C68E;
    font-size: 1.1rem;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
}

.signup:hover {
    cursor: pointer;
    color: white;
}

.bottomgrid {
    margin-top: 0.5rem;
    border-top: 1px solid black;
    padding: 1rem 0;
}

.middleborder {
    border-right: 0.5px solid;
}

.loginicons:hover {
    cursor: pointer;
}

.account {
    padding-left: 1rem;
}

.login {
    text-decoration: underline;
}

@media only screen and (max-width: 900px) {
    .rightdiv {
        margin: 0rem 1.5rem;
    }
}

@media only screen and (max-width: 600px) {
    .rightdiv {
        margin: 0rem;
    }

    .melanated {
        margin-top: 0rem;
        padding-bottom: 1rem;
    }
}