.ad {
    width: 100%;
}

.wfh {
    background-color: #E7C68E;
    color: black;
    padding: 0.4rem;
}
.jobaim {
    font-weight: bold;
}
.topmargin {
    margin-top: -0.8rem;
}
.makemoney{
    font-size: 1.5rem;
    font-weight: 500;
}